* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-visual-image1 {
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-image2 {
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-image3 {
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-image4 {
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
